
@{
    ViewBag.Title = "JhOrderPay";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div class="order_section o_section" id="orderdetail">
    <div class="order_info_box">
        <h2>
            订单详情
        </h2>
        <table class="tb_common">
            <tbody>
                <tr>
                    <th>
                        订单号
                    </th>
                    <td id="order" name="sissionorder">
                        @ViewBag.order
                    </td>
                </tr>
                <tr>
                    <th>
                        预订日期
                    </th>
                    <td>
                        @ViewBag.cdate
                    </td>
                </tr>
                @*<tr>
                    <th>
                        支付类型
                    </th>
                    <td></td>
                </tr>*@
            </tbody>
        </table>
        <div id="layout" style="text-align:center;display:block;">
            <span id="msg">请求数据中，请稍后</span><span><img id="pmsg" style="width:100px;height:30px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540635364831&di=c33a2b3cd05c8600eabc29560b3584af&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01878e59dc76dba8012044638a49aa.gif" /></span>
        </div>
            <ul class="process_steps">
                <li class="">
                    <h3>
                        提交订单
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                            @*@ViewBag.cdate*@
                        </p>
                    </div>
                </li>
                <li class="">
                    <h3>
                        支付成功
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>
                <li class="">
                    <h3>
                        购票中
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>
                <li class="">
                    <h3>
                        已购票
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>
                <li class="" style="display:none">
                    <h3>
                        已配送
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>
                <li class="last">
                    <h3>
                        已成交
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>

                <li class="" style="display:none">
                    <h3>
                        已取消
                    </h3>
                    <i class="icon_arrow"></i>
                    <div class="info">
                        <p class="base_txtsilver">
                        </p>
                    </div>
                </li>
            </ul>
            <!-- 占座 -->
            <!--倒计时开始-->
            <div class="seat_info" id="hideTime">
                <dl class="basefix">
                    <dt>车次信息</dt>
                    <dd style="padding: 0 20px 0 130px;">
                        <span id="train">列车：@ViewBag.train</span><span id="from">出发站：@ViewBag.from</span><span id="to">结束站：@ViewBag.to</span>
                        <span id="date">出发日期：@ViewBag.date</span><span id="stime">出发时间：@ViewBag.stime</span><span id="etime">到达时间：@ViewBag.etime</span>
                    </dd>
                    <dt id="zwlist">座位信息</dt>
                    @*<dd style="padding: 0 20px 0 130px;">
                        <!--非前置扣位显示-->
                        <span><strong>江敏雄</strong>硬座；</span>
                    </dd>*@
                </dl>
                <dl class="basefix" style="display: none">
                    <dl class="basefix">
                        <dt>付款倒计时</dt>
                        <dd style="padding: 0 20px 0 130px;"><label class="count" id="lastTime"></label>，请在剩余时间内完成付款，逾期将自动取消。</dd>
                    </dl>

                </dl>
            </div>

            <!--新版预售逻辑开始-->
            <!--新版预售逻辑结束-->
            <!--倒计时结束-->
            <ul class="yun_info" style="display: none;" id="nightTicket">
                <li class="base_txtsilver" style="color: #FDA128"><i class="icon i1"></i> 预计明天早上6:30前电话通知您占座结果，请保持通讯畅通（建议关闭静音模式）。</li>
            </ul>

            <!--出票失败原因结束-->
            <div class="total_price_box">
                <strong>总金额</strong><dfn>¥</dfn><span class="base_price">@ViewBag.total</span>
                <span class="price_detail" onmouseover="showPriceHtml(1)" onmouseout="showPriceHtml(2)" style="display:none;">金额明细</span>
                <!--<p class="base_txtsilver">已包含保险、接送站<br />服务费用</p>-->
            </div>
            <div class="detail_price_box" style="display: none">
                <table class="price_detail_tab">
                    <tbody>
                        <tr>
                            <th>
                                类型
                            </th>
                            <th>
                                车票价
                            </th>
                            <th>
                                优惠套餐
                            </th>


                        </tr>
                        <tr>
                            <td>单程</td>
                            <td>
                                <!--<dfn>&yen;</dfn><span class="base_price">9×1</span>-->
                                <dfn>¥</dfn><span class="base_price">9</span>
                            </td>
                            <td>
                                <dfn>¥</dfn><span class="base_price">20×1</span>
                            </td>



                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="continue_box">
                <div class="btn_box">
                    您可以

                    <a class="btn_o" target="_blank" id="btnPay" onclick="pay()">立即支付</a>
                    <input type="button" class="btn_c" value="取消订单" id="btn_CancelOrder" onclick="gotoCancel()">
                    <a class="btn_c" style="display: none" href="http://trains.ctrip.com/TrainBooking/kefu.aspx?PageSource=ctripPCLX&amp;OrderID=7578897323" target="_blank">在线咨询</a>
                    <!--<input type="button" class="btn_c" value="查看退款详情">-->
                </div>
            </div>
        </div>
</div>
@Styles.Render("~/Content/JhOrderPay.css")
@Scripts.Render("~/Scripts/myjs/JhOrderPay.js")

