
@{
    ViewBag.Title = "CkTicket";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>      
    @Scripts.Render("~/bundles/modernizr")    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CkTicket.css")
    @Scripts.Render("~/Scripts/myjs/jquerysession.js")    
    @Scripts.Render("~/Scripts/myjs/CkTicket.js?d=datetime.now")   
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("订票系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("主页", "Index", "Home")</li>*@
                <li>@Html.ActionLink("关于", "About", "Home")</li>
                <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                <li>@Html.ActionLink("车票查询", "CkTicket", "Home")</li>
                <li>@Html.ActionLink("更新列车简码", "trainsname", "Home")</li>
                <li>@Html.ActionLink("订单管理", "Index", "TakeOrder")</li>
                <li>@Html.ActionLink("完结订单查询", "CkOverlist", "TakeOrder")</li>
                <li>@Html.ActionLink("用户订单查询", "JhOrderLists", "Order")</li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</div>
<div class="search">
    <ul class="searchList">
        <li class="input_city">
            <input type="text" name="from" value="北京" id="start" @*onfocus="showCity('start')" onblur="hideCity()"*@ onchange="$('#zhongzhuan').val('选填');" class="txt" data-value="BJP" />
            <div onclick="document.getElementById('start').focus();" class="hotcity_txt">出发站</div>
        </li>
        @*<li class="exchangeBox"><div class="exchange"></div></li>*@
        <li class="input_city">
            <input type="text" name="to" value="黄村" id="end" @*onfocus="showCity('end')" onblur="hideCity()"*@ onchange="$('#zhongzhuan').val('选填');" class="txt" data-value="HCP" />
            <div onclick="document.getElementById('end').focus();" class="hotcity_txt">到达站</div>
        </li>
        <!--单程-->
        <li class="input_date" sign="daigou">
            <input type="text" act="showCalendar" class="dcCalendar txt" name="date" id="date" @*readonly="readonly"*@ style="font:16px;" value="@ViewBag.ddate">
            @*<em onclick="document.getElementById('date').focus();" class="date_ico">10</em>*@
            <div onclick="document.getElementById('date').focus();" class="date_txt">出发日期</div>
        </li>
        <li>
            <a href="javascript:void(0)" onclick="seed()" class="btn_orage sl_btn sel_con_btn sel_con_btn0">搜索</a>
            <a href="javascript:void(0)" onclick="jhseed()" class="btn_orage sl_btn sel_con_btn sel_con_btn0">JH搜索</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>
<div>    
    <ul class="hc_th">
        <li class="w95">
            <label field="sort_fromTIme" sign="sort" order="desc" class="or_up">发时<em></em></label>
            <label field="sort_endtTime" sign="sort" order="asc" class="or_dw2">到时<em></em></label>
        </li>
        <li class="w95">车次</li>
        <li class="w90">发/到站</li>
        <li class="w90">运行时间</li>
        <li class="w135">
            <label field="sort_seatPrice" sign="sort" order="asc" class="or_dw">参考票价<em></em></label>
        </li>
        <li>

        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="searchList"></div>
</div>

